main {
    flex: 1;
    margin: 5% 15%;
}

.education-item {
    margin-bottom: 30px;
}

.progress {
    margin-bottom: 25px;
}

.cv-section {
    margin-bottom: 5%;
}

#about-me-text {
    font-weight: 400;
    text-align: justify;
}