* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

ul {
    list-style: none;
    display: inline;
}

.profile {
    width: 256px;
    height: 256px;
    border-radius: 100%;
    margin: 3%;
    border: black solid 0.2rem;
}

.profesion {
    text-align: center;
}

.no-wrap {
    display: inline-block;
}

.contact {
    display: flex;
    justify-content: center;
}

h5 {
    text-align: center;
}

.contact-image {
    height: 40px;
    width: 40px;
    margin: 0.2rem;
}

footer {
    background-color: #C0C0C0;
    padding: 2%;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

@media (min-width: 768px) {
    .active {
        border-bottom: white solid;
    }

    .hover:hover {
        border-bottom: rgba(255, 255, 255, 0.5) solid;
    }

    .nav-link {
    padding: 0!important;
    }

    .nav-item {
        margin: 0 0.5em;
    }
}